<div class="list-group">

  <div class="list-group-item" (click)="select(playlist)" [class.active]="selected === playlist.id"
    *ngFor="let playlist of playlists trackBy trackFn index as i">
    {{i+1}}. {{ playlist.name}}
    <!-- <input type="text" [(ngModel)]="playlist.name"> -->
  </div>

</div>

{{ checking() }}

<!-- for(let item of list){} -->