<form #formRef="ngForm" (ngSubmit)=" saveSubmitted(formRef)">

  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" ngModel name="name" #nameRef="ngModel">

    <span> {{ nameRef.value?.length }} / 170 </span>
  </div>

  <div class="form-group">
    <label><input type="checkbox" ngModel name="public"> Public</label>
  </div>

  <div class="form-group">
    <label>Description:</label>
    <textarea ngModel name="description" class="form-control"></textarea>
  </div>


  <button class="btn btn-danger" (click)="cancelClicked()">Cancel</button>
  <button class="btn btn-success" type="submit">Save</button>
</form>