<div class="row">
  <div class="col">

    <div class="row">
      <div class="col">
        <app-search-form [query]="query | async" (search)="searchAlbums($event)"></app-search-form>

        <span class="float-right" (click)="showRecent=!showRecent">toggle recent</span>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <p class="alert alert-danger" *ngIf="message | async">{{message | async}}</p>

        <p>Found {{(results | async)?.length}} results</p>

        <app-search-results [results]="results | async"></app-search-results>
      </div>
    </div>
  </div>


  <div class="col-2" *ngIf="showRecent">
    <app-recent-searches></app-recent-searches>
  </div>
</div>