<!-- <input type="text" class="form-control" placeholder="Search albums" 
[formControl]="searchForm.get('query')"> -->

<form [formGroup]="searchForm" class="mb-3">

  <div class="input-group ">
    <input type="text" class="form-control" placeholder="Search albums" formControlName="query">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="submitSearch()">
        Search
      </button>
    </div>
  </div>
  <span class="float-right" (click)="extras = !extras">Toggle options</span>


  <ng-container *ngIf="searchForm.get('query') as field">
    <p *ngIf="field.pending">Validating ...</p>
    <ng-container *ngIf="field.touched || field.dirty">
      <p *ngIf="field.hasError('required')">
        Query is required
      </p>

      <!-- <p *ngIf="searchForm.get('query')?.hasError('minlength')  $implicit as error"> -->
      <p *ngIf="field.getError('minlength') as error">
        Minimum {{error.requiredLength}} characters required
      </p>

      <p *ngIf="field.getError('censor') as error">
        Query cannot contain "{{error.badword}}"
      </p>

    </ng-container>
  </ng-container>



  <div formGroupName="extras" class="form-group" *ngIf="extras">

    <input type="text" class="form-control" placeholder="Search albums" formControlName="type">

    <div class="list-group" formArrayName="markets">
      <div class="list-group-item" *ngFor="let field of markets.controls; index as i " [formGroupName]="i">
        <span class="close close-btn" (click)="removeMarket(i)">&times;</span>

        <input type="text" class="form-control" placeholder="Search albums" formControlName="code">

      </div>
    </div>
    <button class="btn btn-info" (click)="addMarket()">Add Market</button>
  </div>


</form>