:host {
  display: block;
}

.input-group {
  .ng-touched, .ng-dirty{

    &.ng-invalid{
      border: 1px solid red;
    }
    &.ng-valid{
      border: 1px solid green;
    }
    &.ng-pending{
      border: 1px solid blue;
    }
  }
}


.close-btn {
  position: absolute;
  right: 30px;
  top: 18px;
}